<a href="https://colab.research.google.com/github/ViniFogliarini/Python/blob/main/Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
tupla_numeros = (1, 3, 5)
tupla_variada = (1, "Vini", 3.14)

In [ ]:
tupla_numeros[0] # para criar Tupla é parenteses, para acessar elementos é colchetes

## Operações com Tuplas

In [ ]:
t1 = (1, 2, 3, 4)
t2 = (9, 0)
t3 = t2 * 10

print(t1+t2) # a soma juntão, criando uma terceira tupla
print(t2 * 2) # multiplicação é quantas vezes repete
print(t1[1:3]) # slicing
len(t1) # medir tamanho
print(t3.count(0)) # contar quantas vezes aparece o 0 na tupla

In [ ]:
# INDEX

t3.index(0) # em qual indice aparece o valor entre parenteses
t1.index(3)

In [ ]:
t4 = (t1 + t2) * 2
print(t4)